@import url('https://fonts.google.com/share?selection.family=Jost:ital,wght@0,100..900;1,100..900');

*{
    font-family: "Jost", sans-serif;

    margin: 0;
    padding: 0;

    color: 464646;
}

.app-header{
    height: 80px;

    display: flex; /*para posicionar elementos lado a lado*/
    justify-content: space-between; /*joga os elementos para os cantos*/
    align-items: center; /*para alinhar elementos ao centro de forma vertical*/

    padding-left: 80px;
    padding-right: 80px;

    box-shadow: 0px 2px 4px #464646;
}

.app-footer{
    height: 80px;

    display: flex; /*para posicionar elementos lado a lado*/
    justify-content: center;
    align-items: center; /*para alinhar elementos ao centro de forma vertical*/

    padding-left: 80px;
    padding-right: 80px;

    box-shadow: 0px -2px 4px #464646;
}

.links a{
    font-size: 30px;
    text-decoration: none;
    padding-left: 35px;
    text-transform: uppercase;
}

.app-main{
    padding: 40px 80px;
}

h1{
    font-size: 70px;
    font-weight: normal;
    margin-bottom: 40px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}